<p-inputGroup>
  <p-inputGroupAddon>Name</p-inputGroupAddon>
  <input pInputText [(ngModel)]="network.displayName" />
</p-inputGroup>

<p-inputGroup>
  <p-inputGroupAddon>Address</p-inputGroupAddon>
  <app-network-input [(address)]="network.address"></app-network-input>
</p-inputGroup>

<p-inputGroup>
  <p-inputGroupAddon>SubNet</p-inputGroupAddon>
  <app-network-input [(address)]="network.subnet"></app-network-input>
</p-inputGroup>

<!--<p-button (click)="createNetwork()">Create/Save</p-button>-->
